
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$salmon: #FF5733;
$mint: #07E796;
$brass: #E79007; 
$lavendar: #7117C7;
$gray: #8e8e8e;
$white: #fff;
$black: #000;

$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, $regal-blue, $san-juan);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: $open-sans;
}

a {
  text-decoration: none;
}
.Button {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

// Base styles
.card {
  float: left;
  padding: 0;
  width: 100%;
  position: relative;
  .menucontent {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    .Button {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 3%;
      font-size: 12px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .mobilemenucontent {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    .Button {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 3%;
      font-size: 12px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    
    &:hover {
      .data {
        transform: translateY(0);
      }
      .menucontent{
          transform: translateY(-60px);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(105px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
      .ReadMore{
        width: 100%;
      }
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
}

// First example styles
  .wrapper {
    background: url('../../../../Assets/images/Travel.png') center center / cover no-repeat;
  }
  .date {
    position: absolute;
    top: 0;
    left: 0;
    // background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }
  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title {
    a {
      color: lighten($black, 50%);
    }
    .Button{
      color: lighten($black, 50%);
    }
  }
  .menubutton {
    position: absolute;
    z-index: 999;
    top: 8px;
    right: 16px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    span {
      width: 5px;
      height: 5px;
      background-color: lighten($black, 50%);
      color: lighten($black, 50%);
      position: relative;
      display: inline-block;
      border-radius: 50%;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
      }
      &::before {
        left: -10px;
      }
      &::after {
        right: -10px;
      }
    }
  }
  .menucontent {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: transform 0.3s;
    transform: translateY(0px);
    li {
      width: 33.333333%;
      float: left;
      background-color: $gray;
      height: 60px;
      position: relative;
    }
    .NotGoing:hover{background-color: $salmon; cursor: pointer;}
    .Interested:hover{background-color: $brass; cursor: pointer;}
    .Going:hover{background-color: $bermuda; cursor: pointer;}

    .NotGoingSelected{background-color: $salmon; cursor: pointer;}
    .InterestedSelected{background-color: $brass; cursor: pointer;}
    .GoingSelected{background-color: $bermuda; cursor: pointer;}
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      height:100%;
      width:100%;
    }
    .Button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      height:100%;
      width:100%;
    }
    span {
      top: -10px;
    }
    svg{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%)
    }
    .Label{
      font-size: 12px;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translate(-50%,0%);
    }
  }
.mobiledata{
  position: absolute;
  bottom: 0;
  width: 100%;
  .content {
    padding: 1em;
    position: relative;
    z-index: 1;
  }
}
.mobilemenucontent {
  box-shadow: 0 0px 38px rgba($black, 0.3), 0 7px 12px rgba($black, 0.2);
    li {
      width: 33.333333%;
      float: left;
      background-color: $gray;
      height: 60px;
      position: relative;
    }
    .NotGoing:hover{background-color: $salmon; cursor: pointer;}
    .Interested:hover{background-color: $brass; cursor: pointer;}
    .Going:hover{background-color: $bermuda; cursor: pointer;}

    .NotGoingSelected{background-color: $salmon; cursor: pointer;}
    .InterestedSelected{background-color: $brass; cursor: pointer;}
    .GoingSelected{background-color: $bermuda; cursor: pointer;}
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      height:100%;
      width:100%;
    }
    .Button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      height:100%;
      width:100%;
    }
    span {
      top: -10px;
    }
    svg{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%)
    }
    .Label{
      font-size: 12px;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translate(-50%,0%);
    }
  }
.Default{background-color: $black;}
.Salmon{background-color: $salmon;} 
.Mint {background-color: $mint;}
.Brass{background-color: $brass;} 
.Lavendar{background-color: $lavendar;}
.Royal{background-color: $regal-blue;}

.Birthday{background: url('../../../../Assets/images/Birthday.png') center center / cover no-repeat;}
.Entertainment{background: url('../../../../Assets/images/Entertainment.png') center center / cover no-repeat;}
.FoodDrink{background: url('../../../../Assets/images/Food&Drink.png') center center / cover no-repeat;}
.GameNight{background: url('../../../../Assets/images/GameNight.png') center center / cover no-repeat;}
.Meetup{background: url('../../../../Assets/images/Meetup.png') center center / cover no-repeat;}
.Outdoors{background: url('../../../../Assets/images/Outdoors.png') center center / cover no-repeat;}
.Party{background: url('../../../../Assets/images/Party.png') center center / cover no-repeat;}
.Travel{background: url('../../../../Assets/images/Travel.png') center center / cover no-repeat;}


@media only screen and (max-width: 812px){
  .row{
   margin:0 auto; 
  }
  .wrapper{
    min-height: 250px !important;
  }
  .title{
    font-size:20px;
  }
  .text{
    font-size:15px;
  }
  .mobilemenucontent, .mobilerow{
    display: block;
  }
  .menucontent, .row{
    display: none;
  }
}
@media only screen and (min-width: 812px){
  .mobilemenucontent, .mobilerow{
    display: none;
  }
  .menucontent, .row{
    display: block;
  }

}