$FreshBlue: #4ABDAC;
$CleanWhite: #DFDCE3;
.Dashboard{
    background-color: $CleanWhite;
    width:100%;
    position: relative;
    overflow-y: scroll;
    padding:25px 25px 150px 25px;
    z-index: 125;
    box-shadow: inset 4px 17px 76px -30px rgba(0,0,0,0.75);
}
.AddEventButton{
    /* background-color: rgba(73, 212, 157, 1) !important; */
    position: fixed !important;
    bottom:45px;
    right:45px;
    background: $FreshBlue !important;
    z-index:150;
    // background: linear-gradient(0deg, rgb(108, 175, 144), rgb(73, 212, 157)) !important;
}
.Tooltip{
    font-size: 15px;
}
.AppBar{
    margin-bottom: 20px;
}
.grow{ 
    flex-grow: 1;
    margin: 12px 0px;
}
.MemberCount{
    width:100%;
    padding: 0px 16px;
}
.MenuButtons{
    margin:10px!important;
}
@media only screen and (max-width: 812px){
    .grow{font-size: 25px; }
}