.Dashboard{
    background-color: #f4f4f6;
    width:80vw;
    position: relative;
    overflow: scroll;
    padding:25px;
    z-index: 125;
    box-shadow: inset 4px 17px 76px -30px rgba(0,0,0,0.75);
}
.AddEventButton{
    /* background-color: rgba(73, 212, 157, 1) !important; */
    position: fixed !important;
    bottom:45px;
    right:45px;
    background: #40F281;
    background: linear-gradient(0deg, rgb(108, 175, 144), rgb(73, 212, 157)) !important;
}
.Tooltip{
    font-size: 15px;
}
.AppBar{
    margin-bottom: 20px;
}